<nav class="navbar navbar-inverse navbar-fixed-top">

  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Mean Scraper</a>
    </div>
  </div>

</nav>

<div class="container">

  <div class="starter-template">
    <h1><span class="glyphicon glyphicon-film" aria-hidden="true"></span> IMDB Movie Scraper</h1>
  </div>

  <movie-input></movie-input>

</div>

<div class="container">

  <movies></movies>

  <ul>Sample IMDB Movie Ids:
    <li>tt0096895 - Batman (1989)</li>
    <li>tt0059968 - Batman (1966) (TV Series)</li>
    <li>tt0103359 - Batman: The Animated Series (1992) (TV Series)</li>
    <li>tt4116284 - The LEGO Batman Movie (2017)</li>
    <li>tt2975590 - Batman v Superman: Dawn of Justice (2016)</li>
    <li>tt0468569 - The Dark Knight (2008)</li>
    <li>tt1345836 - The Dark Knight Rises (2012)</li>
    <li>tt0372784 - Batman Begins (2005)</li>
    <li>tt0118688 - Batman & Robin (1997)</li>
  </ul>

  <a target="_blank" href="http://www.imdb.com/movies-in-theaters/">IMDB.com</a>

</div>
