  <div class="row">
    <div class="col-lg-6">
      <form [formGroup]="inputForm" (ngSubmit)="scrapeImdbMovie($event)">
        <div class="input-group">
          <input formControlName="movieId" type="text" class="form-control" placeholder="Enter IMDB Movie Id..." required minlength="9" maxlength="9">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" title="scrape"><span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> Scrape</button>
          </span>
        </div>
      </form>
    </div>
  </div>
